<div class="container">
    <h3>Ajout d'un produit</h3>
    <form>
        <div>
            <label> Identifiant du produit </label>
            <input type="number" name="id" >
        </div>
        <div>
            <label>Libellé</label>
            <input type="text" name="lib">
        </div>
        <div>
            <label>Prix</label>
            <input type="number" name="prix" >
        </div>

        <div>
            <label> Made In </label>
            <label>
                <input type="radio" name="madeIn" value="Tunisie" >Tunisie
            </label>
            <label>
                <input type="radio" name="madeIn" value="Autre" >Autre
            </label>
        </div>
        <div>
            <label>Catégorie</label>
            <select name="selCategories">
  
            </select>
        </div>
        <div>
            <label>
                <input type="checkbox" name="nouv"> Nouveau
            </label>
        </div>
        <input type="submit" value="Ajouter">
        <input type="button" value="Effacer">

    </form>
</div>