<div class="container">
    <h2> Ajout d'un employé</h2>
    <form [formGroup]="employesForm">
        <div>
            <label> Donnez le matricule</label>
            <input type="text" formControlName="matricule">
        </div>

        <div>
            <label> Donnez le nom</label>
            <input type="text" formControlName="nom">
        </div>

        <div class="p-2 bg-light rounded" formGroupName="affiliation" >
            <strong>Affiliation</strong>
            <div>
                <div>
                    <label> Choisissez le département</label>
                    <input type="radio" value="TI" formControlName="departement"> IT
                    <input type="radio" value="Finance" formControlName="departement"> Finance
                </div>
                <div>
                    <label> Donnez la fonction</label>
                    <select formControlName="fonction">
                        <option *ngFor="let f of lesfonctions" [value]="f">{{f}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="p-2 bg-light rounded" >
            <strong>Liste des diplomes</strong>
            <div>
                <label>Intitule du diplôme</label>
                <input type="text" >
            </div>
            <div>
                <label>Annee du diplôme</label>
                <input type="number" >
            </div>
        <input type="button" class="btn btn-warning" value="Supprimer">
        </div>


        <br>
        <input type="button" class="btn btn-dark" (click)="ajouterdiplome()" value="Ajouter Diplôme">
        <button class="btn btn-primary" (click)="ajouterempolye()">Ajouter Employé</button>
        <input type="button" value="Vider" class="btn btn-secondary" (click)="onvider()">
    </form>
</div>
<app-listemployes></app-listemployes>